/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   */

   html, body, div, span, applet, object, iframe,
   h1, h2, h3, h4, h5, h6, p, blockquote, pre,
   a, abbr, acronym, address, big, cite, code,
   del, dfn, em, img, ins, kbd, q, s, samp,
   small, strike, strong, sub, sup, tt, var,
   b, u, i, center,
   dl, dt, dd, ol, ul, li,
   fieldset, form, label, legend,
   table, caption, tbody, tfoot, thead, tr, th, td,
   article, aside, canvas, details, embed,
   figure, figcaption, footer, header, hgroup,
   menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* My_2048 */
body {
    background: #faf8ef;
    color: #776e65;
    font-family: sans-serif;
}
.main_wrapper {
    margin: 0 auto;
}

.main_header {
    text-align: center;
    font-size: 1em;
    margin-bottom: 15px;
}
.header_title h1 {
    font-weight: bold;
    font-size: 2.5em;
    padding-top: 10px;
    padding-bottom: 5px;
}

.header_score, .header_score_title, .header_best_score, .header_best_score_title {

    /*display: inline-block;*/

}

.prompt_token {
    margin-top: 5px;
    line-height: 20px;
    font-size: 25px;
    width: 200px;
}
.prompt_button {
    height: 34px;
    font-size: 24px;
}

.header_score_title {
    font-size: 1.5em;
    margin-bottom: 2px;
}
.header_score {

    padding: 8px 2px;
    background: #8f7a66;
    color: #f9f6f2;
    display: inline-block;
    border-radius: 5px;
    font-size: 1.5em;
}
.buttons {
    /*width: 850px;*/
    width: 370px;
    margin: 0 auto;
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
}
.replay_button, .undo_button {
    display: inline-block;
    border-radius: 3px;
    padding: 0 20px;
    text-decoration: none;
    color: #f9f6f2;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    text-align: center;
    margin-top: 5px;
    width: 140px;
    font-size: 1.5em;
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   }
.replay_button {
    background: #f65e3b;
}
.undo_button {
    background: #8f7a66;
}

.main_section {
    position: relative;
}


/* GRID */
.grid_holder {
    background: #bbada0;
    width: 350px;
    height: 350px;
    margin: 0 auto;
    padding: 8px;
    border-radius: 6px;
}

.grid {
    background-image: url(../style/swipe_arrows.png);
    width: 350px;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
}

.grid_row {
    margin-bottom: 8px;
}
.grid_row:after {
    content: "";
    display: block;
    clear: both;
}
.grid_cell {
    width: 81px;
    height: 81px;
    float: left;
    margin-right: 8px;
    border-radius: 3px;
    background-color: rgba(238, 228, 218, 0.35);
}
.grid_cell:last-child {
    margin-right: 0px;
}
