/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   */

   html, body, div, span, applet, object, iframe,
   h1, h2, h3, h4, h5, h6, p, blockquote, pre,
   a, abbr, acronym, address, big, cite, code,
   del, dfn, em, img, ins, kbd, q, s, samp,
   small, strike, strong, sub, sup, tt, var,
   b, u, i, center,
   dl, dt, dd, ol, ul, li,
   fieldset, form, label, legend,
   table, caption, tbody, tfoot, thead, tr, th, td,
   article, aside, canvas, details, embed,
   figure, figcaption, footer, header, hgroup,
   menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* My_2048 */
body {
    background: #faf8ef;
    color: #776e65;
    font-family: sans-serif;
}
.main_wrapper {
    width: 500px;
    margin: 0 auto;
}

.main_header {
    text-align: center;
    font-size: 2em;
    margin-bottom: 60px;
}
.header_title h1 {
    font-weight: bold;
    font-size: 3em;
    padding-bottom: 10px;
}

.difficulty_buttons {
  padding-bottom: 20px;
}
.difficulty {
  display: inline-block;
  width: auto;
  margin-right: 25px;
  background-color : #8f7a66;
  color: #f9f6f2;
  border-radius: 5px;
  padding: 5px;
}
.difficulty.choose {
  background-color: #f65e3b;
}
.difficulty:last-child {
  margin-right: 0px;
}

.leaderboard_button {
    margin: 0 auto;
    border-radius: 3px;
    padding: 0 20px;
    text-decoration: none;
    color: #f9f6f2;
    height: 40px;
    line-height: 42px;
    cursor: pointer;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 35%;
    background: #edcc61;
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
 }

 .leaderboard_display {
    display: none;
    color: #f9f6f2;
    background: #edcc61;
    border-radius: 10px;
    line-height: 40px;
    padding: 5px 33px;
    text-align: left;
    position: absolute;
    z-index: 9999;
    width: 440px;
}
.leaderboard_position {
    width: 35px;
    text-align: center;
    display: inline-block;
    float: left;
    color: black;
}
.leaderboard_pseudo {
    width: 250px;
    display: inline-block;
    text-align: center;
}
.leaderboard_score {
  float: right;
}
.header_score, .header_score_title, .header_best_score, .header_best_score_title {

    display: inline-block;

}
.replay_button, .undo_button {
    display: inline-block;
    border-radius: 3px;
    padding: 0 20px;
    text-decoration: none;
    color: #f9f6f2;
    height: 40px;
    line-height: 42px;
    cursor: pointer;
    text-align: center;
    margin-top: 15px;
    width: 35%;
}
.replay_button {
    background: #f65e3b;
    ;
}
.undo_button {
    background: #8f7a66;

}

.main_section {
    position: relative;
}


/* GRID */
.grid_holder {
    background: #bbada0;
    width: 470px;
    height: 470px;
    margin: 0 auto;
    padding: 15px;
    border-radius: 6px;
}
.gameover {
    transition: 1.5s;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    background-color: #ccc;
}

.victory {

    transition: 1.5s;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    background-color: #EDC22E;

}

.message {
    font-size: 2em;
    text-align: center;
    position: absolute;
    width: 100%;
    display: none;
}
.win {
    top: 35%;
}
.loose {
    top: 40%;
}
.share {
    position: absolute;
    top: 65%;
    left: 36%;
    text-align: center;
    display: none;
}
.prompt_score {
  text-align: center;
  position: absolute;
  top: 50%;
  width: 100%;
  display: none;
}
.prompt_text {
  margin-bottom: 10px;
}
.twitter-share-button {
    margin-top: 5px;
}
.click_button {
    position: absolute;
    height: 45px;
    width: 45px;
    background-size: cover;
}

.click_button_up {
    background-image: url(arrow_up.png);
    top: -50px;
    left: 226px;
}
.click_button_left {
    background-image: url(arrow_left.png);
    left: -50px;
    top: 226px;
}
.click_button_down {
    background-image: url(arrow_down.png);
    bottom: -50px;
    left: 226px;
}
.click_button_right {
    background-image: url(arrow_right.png);
    right: -50px;
    top: 226px;
}

.grid {
    width: 470px;
    height: 470px;
}
.grid_row {
    margin-bottom: 15px;
}
.grid_row:after {
    content: "";
    display: block;
    clear: both;
}
.grid_cell {
    width: 106px;
    height: 106px;
    float: left;
    margin-right: 15px;
    border-radius: 3px;
    background-color: rgba(238, 228, 218, 0.35);
    font-size: 55px;
    text-align: center;
    font-weight: bold;
    line-height: 106px;

   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
}
.grid_cell:last-child {
    margin-right: 0px;
}



/* TUILES */
.tuile_2 {
    background: #eee4da;
}
.tuile_4 {
    background: #ede0c8;
}

.tuile_8 {
    background: #f2b179;
    color: #f9f6f2;
}

.tuile_16 {
    background : #f59563;
    color: #f9f6f2;
}

.tuile_32 {
    background: #f67c5f;
    color: #f9f6f2;
}

.tuile_64 {
    background: #f65e3b;
    color: #f9f6f2;
}

.tuile_128 {
    background: #edcf72;
    color: #f9f6f2;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.2381), inset 0 0 0 1px rgba(255, 255, 255, 0.14286);
    font-size: 45px;
}

.tuile_256 {
    background: #edcc61;
    color: #f9f6f2;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.31746), inset 0 0 0 1px rgba(255, 255, 255, 0.19048);
    font-size: 45px;
}

.tuile_512 {
    background: #edc850;
    color: #f9f6f2;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333);
    font-size: 45px;
}

.tuile_1024 {
    background: #edc53f;
    color: #f9f6f2;
    font-size: 35px;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333);
}

.tuile_2048 {
    background: #edc22e;
    color: #f9f6f2;
    font-size: 35px;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333);
}

/* FOOTER */
.main_footer {
    margin-top: 50px;
    margin-bottom: 30px;
}
.main_footer p {
    line-height: 25px;
    border-bottom: 1px solid #776e65;
    padding-bottom: 15px;
    padding-top: 15px;
}
.main_footer p:first-child {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    /*margin-bottom: 10px;*/
    border-bottom: 0;
    padding-bottom: 0;
    padding-top: 0px;
}
.main_footer p:last-child {
    border-bottom: none;
}
.token {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 2em;
}

.spawn {

  /*-webkit-animation: appear 200ms ease 100ms;*/
  /*-moz-animation: appear 200ms ease 100ms;*/
  animation: appear 200ms ease 100ms;
  /*-webkit-animation-fill-mode: backwards;*/
  /*-moz-animation-fill-mode: backwards;*/
  animation-fill-mode: backwards;

}

.merge {
      /*-webkit-animation: pop 200ms ease 100ms;*/
      /*-moz-animation: pop 200ms ease 100ms;*/
      animation: pop 200ms ease 100ms;
      /*-webkit-animation-fill-mode: backwards;*/
      /*-moz-animation-fill-mode: backwards;*/
      animation-fill-mode: backwards;
}


/*.tuile-position-0-0 {
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px); }
.tuile-position-0-1 {
  -webkit-transform: translate(0px, 121px);
  -moz-transform: translate(0px, 121px);
  -ms-transform: translate(0px, 121px);
  transform: translate(0px, 121px); }
.tuile-position-0-2 {
  -webkit-transform: translate(0px, 242px);
  -moz-transform: translate(0px, 242px);
  -ms-transform: translate(0px, 242px);
  transform: translate(0px, 242px); }
.tuile-position-0-3 {
  -webkit-transform: translate(0px, 363px);
  -moz-transform: translate(0px, 363px);
  -ms-transform: translate(0px, 363px);
  transform: translate(0px, 363px); }
.tuile-position-1-0 {
  -webkit-transform: translate(121px, 0px);
  -moz-transform: translate(121px, 0px);
  -ms-transform: translate(121px, 0px);
  transform: translate(121px, 0px); }
.tuile-position-1-1 {
  -webkit-transform: translate(121px, 121px);
  -moz-transform: translate(121px, 121px);
  -ms-transform: translate(121px, 121px);
  transform: translate(121px, 121px); }
.tuile-position-1-2 {
  -webkit-transform: translate(121px, 242px);
  -moz-transform: translate(121px, 242px);
  -ms-transform: translate(121px, 242px);
  transform: translate(121px, 242px); }
.tuile-position-1-3 {
  -webkit-transform: translate(121px, 363px);
  -moz-transform: translate(121px, 363px);
  -ms-transform: translate(121px, 363px);
  transform: translate(121px, 363px); }
.tuile-position-2-0 {
  -webkit-transform: translate(242px, 0px);
  -moz-transform: translate(242px, 0px);
  -ms-transform: translate(242px, 0px);
  transform: translate(242px, 0px); }
.tuile-position-2-1 {
  -webkit-transform: translate(242px, 121px);
  -moz-transform: translate(242px, 121px);
  -ms-transform: translate(242px, 121px);
  transform: translate(242px, 121px); }
.tuile-position-2-2 {
  -webkit-transform: translate(242px, 242px);
  -moz-transform: translate(242px, 242px);
  -ms-transform: translate(242px, 242px);
  transform: translate(242px, 242px); }
.tuile-position-2-3 {
  -webkit-transform: translate(242px, 363px);
  -moz-transform: translate(242px, 363px);
  -ms-transform: translate(242px, 363px);
  transform: translate(242px, 363px); }
.tuile-position-3-0 {
  -webkit-transform: translate(363px, 0px);
  -moz-transform: translate(363px, 0px);
  -ms-transform: translate(363px, 0px);
  transform: translate(363px, 0px); }
.tuile-position-3-1 {
  -webkit-transform: translate(363px, 121px);
  -moz-transform: translate(363px, 121px);
  -ms-transform: translate(363px, 121px);
  transform: translate(363px, 121px); }
.tuile-position-3-2 {
  -webkit-transform: translate(363px, 242px);
  -moz-transform: translate(363px, 242px);
  -ms-transform: translate(363px, 242px);
  transform: translate(363px, 242px); }
.tuile-position-3-3 {
  -webkit-transform: translate(363px, 363px);
  -moz-transform: translate(363px, 363px);
  -ms-transform: translate(363px, 363px);
  transform: translate(363px, 363px); }*/

/*@-webkit-keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }

  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }
@-moz-keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }

  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }
@keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }

  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  }
*/
/*@-webkit-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }
@-moz-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }
    */

    /* SPAWN */
@keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }


    /* MERGE  */

/*    @-webkit-keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }

  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }
@-moz-keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }

  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }*/


@keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }

  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }