/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   */

   html, body, div, span, applet, object, iframe,
   h1, h2, h3, h4, h5, h6, p, blockquote, pre,
   a, abbr, acronym, address, big, cite, code,
   del, dfn, em, img, ins, kbd, q, s, samp,
   small, strike, strong, sub, sup, tt, var,
   b, u, i, center,
   dl, dt, dd, ol, ul, li,
   fieldset, form, label, legend,
   table, caption, tbody, tfoot, thead, tr, th, td,
   article, aside, canvas, details, embed,
   figure, figcaption, footer, header, hgroup,
   menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* My_2048 */
body {
    background: #faf8ef;
    color: #776e65;
    font-family: sans-serif;
}
.main_wrapper {
    /*width: 500px;*/
    margin: 0 auto;
}

.main_header {
    text-align: center;
    font-size: 2em;
    margin-bottom: 60px;
}
.header_title h1 {
    font-weight: bold;
    font-size: 3em;
    padding-bottom: 40px;
}

.header_score, .header_score_title, .header_best_score, .header_best_score_title {

    display: inline-block;

}
.replay_button, .undo_button {
    display: inline-block;
    border-radius: 3px;
    padding: 0 20px;
    text-decoration: none;
    color: #f9f6f2;
    height: 40px;
    line-height: 42px;
    cursor: pointer;
    text-align: center;
    margin-top: 15px;
    width: 35%;
}
.replay_button {
    background: #f65e3b;
;
}
.undo_button {
    background: #8f7a66;

}

.main_section {
    position: relative;
}


/* GRID */
.grid_holder {
    background: #bbada0;
    width: 900px;
    height: 900px;
    margin: 0 auto;
    padding: 15px;
    border-radius: 6px;
}

.grid {
    background-image: url(../style/swipe_arrows.png);
    width: 900px;
    height: 900px;
    background-size: cover;
    background-repeat: no-repeat;
}

.grid_row {
    margin-bottom: 15px;
}
.grid_row:after {
    content: "";
    display: block;
    clear: both;
}
.grid_cell {
    width: 213px;
    height: 213px;
    float: left;
    margin-right: 15px;
    border-radius: 3px;
    background-color: rgba(238, 228, 218, 0.35);
    font-size: 55px;
    text-align: center;
    font-weight: bold;
    line-height: 106px;
}
.grid_cell:last-child {
    margin-right: 0px;
}

/* FOOTER */
.main_footer {
    margin-top: 50px;
    margin-bottom: 30px;
}
.main_footer p {
    line-height: 25px;
    border-bottom: 1px solid #776e65;
    padding-bottom: 15px;
    padding-top: 15px;
}
.main_footer p:first-child {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    /*margin-bottom: 10px;*/
    border-bottom: 0;
    padding-bottom: 0;
    padding-top: 0px;
}
.main_footer p:last-child {
    border-bottom: none;
}