/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   */

   html, body, div, span, applet, object, iframe,
   h1, h2, h3, h4, h5, h6, p, blockquote, pre,
   a, abbr, acronym, address, big, cite, code,
   del, dfn, em, img, ins, kbd, q, s, samp,
   small, strike, strong, sub, sup, tt, var,
   b, u, i, center,
   dl, dt, dd, ol, ul, li,
   fieldset, form, label, legend,
   table, caption, tbody, tfoot, thead, tr, th, td,
   article, aside, canvas, details, embed,
   figure, figcaption, footer, header, hgroup,
   menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* My_2048 */
body {
    background: #faf8ef;
    color: #776e65;
    font-family: sans-serif;
}
.main_wrapper {
    width: 500px;
    margin: 0 auto;
}

.main_header {
    min-height: 150px;
    text-align: center;
    font-size: 2em;
}
.main_header h1 {
    padding-top: 40px;

}


/* GRID */
.grid_holder {
    background: #bbada0;
    width: 470px;
    height: 470px;
    margin: 0 auto;
    padding: 15px;
    border-radius: 6px;
}
.grid {
    width: 470px;
    height: 470px;
}
.grid_row {
    margin-bottom: 15px;
}
.grid_row:after {
    content: "";
    display: block;
    clear: both;
}
.grid_cell {
    width: 106px;
    height: 106px;
    float: left;
    margin-right: 15px;
    border-radius: 3px;
    background-color: rgba(238, 228, 218, 0.35);
    font-size: 55px;
    text-align: center;
    font-weight: bold;
    line-height: 106px;
}
.grid_cell:last-child {
    margin-right: 0px;
}

/* TUILES */
.tuile_2 {
    background: #eee4da;
}
.tuile_4 {
    background: #ede0c8;
}

.tuile_8 {
    background: #f2b179;
    color: #f9f6f2;
}

.tuile_16 {
    background : #f59563;
    color: #f9f6f2;
}

.tuile_32 {
    background: #f67c5;
    color: #f9f6f2;
}

.tuile_64 {
    background: #f65e3b;
    color: #f9f6f2;
}

.tuile_128 {
    background: #edcf72;
    color: #f9f6f2;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.2381), inset 0 0 0 1px rgba(255, 255, 255, 0.14286);
    font-size: 45px;
}

.tuile_256 {
    background: #edcc61;
    color: #f9f6f2;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.31746), inset 0 0 0 1px rgba(255, 255, 255, 0.19048);
    font-size: 45px;
}

.tuile_512 {
    background: #edc850;
    color: #f9f6f2;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333);
    font-size: 45px;
}

.tuile_1024 {
    background: #edc53f;
    color: #f9f6f2;
    font-size: 35px;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333);
}

.tuile_2048 {
    background: #edc22e;
    color: #f9f6f2;
    font-size: 35px;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333);
}

